// Colores
$color0 : #fff;
$color1 : #FEFBF3;
$color2 : #ccc;
$color3 : #F8F0DF;
$color4 : #79B4B7;
$color5 : #9D9D9D;
$color6 : #000;

// Fuentes
@font-face {
    font-family: "Barlow-Regular";
    src: url("../../fonts/Barlow-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-SemiBold";
    src: url("../../fonts/Barlow-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Nova_Regular";
    src: url("../../fonts/Proxima_Nova_Regular.otf") format("truetype");
}
@font-face {
    font-family: "Nova-SemiBold";
    src: url("../../fonts/Proxima_Nova_Semibold.otf") format("truetype");
}
@font-face {
    font-family: "Nova-Bold";
    src: url("../../fonts/Proxima_Nova_Bold.otf") format("truetype");
}