footer {
    background-color: #26282B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .topFooter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .llc {
            padding: 10rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h3 {
                font-size: 2.6rem;
            }

            h4 {
                font-size: 2rem;
                width: 40rem;
                line-height: 1.4;
                font-weight: 300;
            }
        }

        .callCenter {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-content: center;
            gap: 2rem;
            h3 {
                font-size: 2rem;
                opacity: .6;
            }
            .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                h2 {
                    font-size: 2.4rem;
                    font-weight: 900;
                    letter-spacing: .2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // opacity: .6;
                }
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 2rem;
                    opacity: .4;
                }
            }
        }
    }
    .copyright {
        align-self: flex-start;
        width: 100%;
        font-size: 1.5rem;
        padding: 4rem;
        border-top: 1px solid #fff2;
    }
}