header {
    background: linear-gradient(161deg, #26282b 0%, #26282b 49%, #9f8054 100%);
    background-image: url("../../../images/first-home-section-bg.png");
    // background: rgb(128, 44, 12) url("image.jpg") fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    // display: none;

    .blur {
        // backdrop-filter: blur(30px);
        background-color: rgba(0, 0, 0, 0.05);
        min-height: 100vh;

        .container {
            padding: 2rem;

            .topBar {
                padding: 1rem 0;

                .topSection {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    padding-bottom: .8rem;

                    .logo {
                        background-image: url("../images/logo.png");
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 150px 150px;
                        width: 150px;
                        height: 50px;
                        opacity: .8;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .contact {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;

                        .phone {
                            color: white;
                            font-size: 1.7rem;
                            font-weight: 600;
                            text-decoration: none;
                            // background-color: red;
                        }

                        .mail {
                            color: white;
                            font-size: 1.28rem;
                            opacity: .5;
                            font-weight: 100;
                            text-decoration: none;
                            line-height: 1rem;

                            &:hover {
                                color: rgb(235, 207, 167);
                                opacity: 1;
                            }
                        }
                    }

                }

                .bottomSection {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .navBar {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 4rem;
                        list-style: none;
                        font-size: 1.6rem;

                        li {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 7rem;

                            a {
                                text-decoration: none;
                                color: white;
                                font-weight: 700;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                transition: color .3s, box-shadow .3s;

                                &:hover {
                                    color: rgb(235, 207, 167);
                                    box-shadow: 0 -1px 0 rgb(235, 207, 167);
                                }
                            }
                        }
                    }

                    .respIcoNavBar {
                        width: 30px;
                        height: 30px;
                        display: none;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        font-size: 2rem;
                        cursor: pointer;

                        &>.fa-bars-staggered {
                            display: none;
                        }

                        &:hover {
                            &>.fa-bars-staggered {
                                display: flex;
                            }

                            &>.fa-bars {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}